@import "tailwindcss";

:root {
  background-color: #05070b;
  color: #d3f9d8;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@theme {
  --color-background: #05070b;
  --color-primary: #6ef57a;
  --color-secondary: #0f1724;
}

@theme .dark {
  --color-background: #05070b;
  --color-primary: #ffa432;
  --color-secondary: #1a1a1a;
}

/* chill scrollbar vibes */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 9999px;
}
