@import "tailwindcss";

:root {
  background-color: #0b0e14;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@theme {
  --color-background: #0b0e14;
  --color-primary: #ffa432;
  --color-secondary: #fafafa;
}

@theme .dark {
  --color-background: #05070b;
  --color-primary: #ffa432;
  --color-secondary: #1a1a1a;
}
