@import "tailwindcss";

:root {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}


@theme {
  --color-background: #101010;
  --color-primary: #d3f9d8;
  --color-secondary: #a3a3a3;
  --color-tertiary: #3f3f3f;
}

/* chill scrollbar vibes */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f3f transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 0;
}

*::selection {
  background: var(--color-primary);
  color: var(--color-background);
}
