[EventType]
type = "string"
enum = [
  "MESSAGE_CREATED",
  "MESSAGE_UPDATED",
  "CHANNEL_CREATED",
  "HEARTBEAT",
  "AUTHOR_UPDATED",
  "MESSAGE_DELETED",
  "TYPING_STARTED",
]

[MessageCreated]
type = "object"
required = ["message", "channel", "author"]

[MessageCreated.properties]
message = { ref = "Message" }
channel = { ref = "Channel" }
author = { ref = "Author" }

[MessageUpdated]
type = "object"
required = ["message"]

[MessageUpdated.properties]
message = { ref = "Message" }

[MessageDeleted]
type = "object"
required = ["message_id", "channel_id"]

[MessageDeleted.properties]
message_id = { type = "string", doc = "Unique identifier for the message" }
channel_id = { type = "string", doc = "Unique identifier for the channel" }

[ChannelCreated]
type = "object"
required = ["channel"]

[ChannelCreated.properties]
channel = { ref = "Channel" }

[AuthorUpdated]
type = "object"
required = ["author"]

[AuthorUpdated.properties]
author = { ref = "Author" }

[TypingStarted]
type = "object"
required = ["channel_id", "user_id"]

[TypingStarted.properties]
channel_id = { type = "string", doc = "Unique identifier for the channel" }
user_id = { type = "string", doc = "Unique identifier for the user" }

[Union.Event]
types = [
  "MessageCreated",
  "MessageUpdated",
  "ChannelCreated",
  "AuthorUpdated",
  "MessageDeleted",
  "TypingStarted",
]
discriminator = { field = "t", enum = "EventType", data_field = "d" }
